# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
__pycache__/
mapdata/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/app/static/t_mainstyle.css
/app/static/t_image.png
/app/static/t_sound.mp3
/app/templates/t_index.html
/app/Models/t_folder
/app/Models/t_dbModule.py
/app/Models/t_gaModule.py
/.vscode