.sidebar{
    width: 20%;
    height: 100%;
    background-color: green;

    position: fixed;
    top: 0;
    left: 0;

    padding: 0px 0px;

    transition: all 0.5s ease;
}

.mapscreen{
    width: 80%;
    height: 100%;
    background-color: darkslategray;

    position: fixed;
    top: 0;
    right: 0;

    padding: 20px 20px;

    transition: all 0.5s ease;
}

.inputbox{
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.inputblank{
    width: 70px;
    height: 30px;

    border: none;

    margin: -2px;
}

.submitblank{
    width: 368px;
    height: 30px;
    background-color: yellowgreen;
    display: block;

    position: relative;
    top: 5px;

    border: none;

}

.test{
    display: block;
}




