<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>travel-planner_main</title>
        <link rel="stylesheet" href="../static/mainstyle.css">
        <script type="text/javascript" src="../static/mainscript.js"></script>
    </head>
    <body>
        <aside class="sidebar">
            <form class="inputbox" action="/inputing" method="post">
                <input class="input" name="lon" type="number" step="0.000001" placeholder="lon" required="">
                <input class="input" name="lan" type="number" step="0.000001" placeholder="lat" required="">
                <input class="input" name="util" type="number" placeholder="util" required="">
                <input class="input" name="stay" type="number" placeholder="stay" required="">
                <input class="input" name="open" type="time" placeholder="open" required="">
                <input class="input" name="close" type="time" placeholder="close" required="">
                <input class="inputboxsubmit" type="submit" value="Add">
            </form>
            <div>
                {%for i in destlist%}
                    <li>{{i}}</li>
                {%endfor%}
            </div>
            <form action="/inputing" method="post">
                <input class="resetsubmit" name="resetflag" type="submit" value="Reset">
            </form>
            
            <!-- 우선 서버에 요청하고 응답을 받아오는것부터 비동기로 처리해보자 위의 form태그들은 이거하고나서 -->
            <!-- 위의 추가하거나 리셋버튼누를때마다 /inputing 으로 리다이렉트되는것 없애고 비동기로바꿔야함 -->
            <input class="input_starttime" name="starttime" type="time" required="">
            <input class="startbutton" name="startflag" type="button" onclick="getgaModuleresult();">
        </aside>

        <section class="mapscreen">
            someresult

            

        </section>


    </body>
</html>