<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <title>travel-planner_main</title>
        <link rel="stylesheet" href="../static/mainstyle.css">
        <script type="text/javascript" src="../static/mainscript.js"></script>
    </head>
    <body>
        <aside id="aside">
            <div id="addingbox">
                <input class="input" name="lon" type="number" step="0.000001" placeholder="lon" required="">
                <input class="input" name="lan" type="number" step="0.000001" placeholder="lat" required="">
                <input class="input" name="util" type="number" placeholder="util" required="">
                <input class="input" name="stay" type="number" placeholder="stay" required="">
                <input class="input" name="open" type="time" placeholder="open" required="">
                <input class="input" name="close" type="time" placeholder="close" required="">
                <input id="addingboxbutton" type="button" value="Add">
            </div>
            <div id="destbox">
                <!-- {%for i in destlist%}
                    <li>{{i}}</li>
                {%endfor%} -->
            </div>

            <input id="resetbutton" name="resetbutton" type="button" value="Reset">
            <input id="starttime" name="starttime" type="time">
            <input id="startbutton" name="startbutton" type="button" value="Start" onclick="getgaModuleresult()">
        </aside>

        <section id="section">
            someresult

        </section>


    </body>
</html>