<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>travel-planner_main</title>
        <link rel="stylesheet" href="../static/mainstyle.css">
    </head>
    <body>
        <!-- <div class="sidebar">
            <input type="number" placeholder="경도">
            <input type="number" placeholder="위도">
            <input type="number" placeholder="관심도">
            
        </div>
        <div class="insidebar">

        </div> -->
    <div class="box">
        컨텐트||||||||||||||||||||||||||
    </div>
    <div class="box2">
        두번째||||||||||||||||||||||||||
    </div>

    </body>
</html>